<div class="mt-3 p-2">
  <h2>{{ title }}</h2>
</div>
<div class="row p-4 mb-5 justify-content-center">
  <div class="col-12">
    <div class="row">
      <mat-tab-group class="width-max" [selectedIndex]="tabSelected">
        <mat-tab label="Cadastrar conta">
          <app-accounts-payable-form (tabSelectedEmitter)="changeTab($event)"></app-accounts-payable-form>
        </mat-tab>
        <mat-tab label="Visualizar conta" >
          <app-accounts-payable-table></app-accounts-payable-table>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
